<div class="form-wrap" fxLayoutAlign="center center">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="form" fxLayout="column">
      <h1 class="h-text">Sign up</h1>

      <mat-form-field hintLabel="Max {{ validatorsLength.firstname }} characters" appearance="fill" class="form-control">
        <mat-label>First name</mat-label>
        <input matInput [maxlength]="validatorsLength.firstname" placeholder="Enter your first name" formControlName="firstname">
        <mat-hint align="end">{{form.get('firstname')?.value?.length}}/{{ validatorsLength.firstname }}</mat-hint>
        <mat-error *ngIf="form.get('firstname')?.errors??['required']">Field must be filled</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Max {{ validatorsLength.username }} characters" appearance="fill" class="form-control">
        <mat-label>Username</mat-label>
        <input matInput [maxlength]="validatorsLength.username" placeholder="Enter your username" formControlName="username">
        <mat-hint align="end">{{form.get('username')?.value?.length}}/{{ validatorsLength.username }}</mat-hint>
        <mat-error *ngIf="form.get('username')?.errors??['required']">Field must be filled</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@gmail.com" formControlName="email">
        <mat-error *ngIf="form.get('email')?.invalid">{{ getEmailError() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Introduce yourself</mat-label>
        <textarea matInput placeholder="Tell about yourself" formControlName="about"></textarea>
        <mat-error *ngIf="form.get('about')?.errors??['required']">Field must be filled</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.errors??['required']">Field must be filled</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-control">
        <mat-label>Enter your password again</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="re_password">
        <mat-error *ngIf="form.get('re_password')?.invalid || this.form.get('password')?.value != this.form.get('re_password')?.value">{{ getPasswordError() }}</mat-error>
      </mat-form-field>

      <a (click)="goLogin()" class="link-login">Do you have an account?</a>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>
