.wrapper {
  padding: 15px 38px;
}

.header {
  &-row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &-col {
    flex: 1;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
