.wrapper {
  padding: 15px 38px;
}

.header {
  &-row {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &-col {
    flex: 1;
  }
}

.selected-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.course-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  mat-card {
    flex: 1 1 25%;
  }
}
