.modal {
  &-form-control {
    width: 100%;
  }
  &-btn-group {
    padding: 10px 0;
  }
  &-courses {
    max-height: 300px;
    overflow-y: auto;
  }
}

.error-text {
  text-align: center;
  margin: 0;
  color: #f44336;
}

