<cdk-accordion-item
  #accordionItem="cdkAccordionItem"
  class="task-item"
  role="button"
  tabindex="0"
  [attr.id]="'task-header-' + taskIndex"
  [attr.aria-expanded]="accordionItem.expanded"
  [attr.aria-controls]="'task-body-' + taskIndex">
  <div class="task-item-header" (click)="accordionItem.toggle()">
    {{ task.name }}
    <span class="task-item-hint">
      Click to {{ accordionItem.expanded ? 'close' : 'open' }}
    </span>
  </div>
  <div
    class="task-item-body"
    role="region"
    [style.display]="accordionItem.expanded ? '' : 'none'"
    [attr.id]="'task-body-' + taskIndex"
    [attr.aria-labelledby]="'task-header-' + taskIndex">
    <div class="task-item-body-b">
      <div class="task-item-body-start">
        <h3>{{ task.name }}</h3>
        <p>{{ task.description }}</p>
      </div>
      <div class="task-item-body-end">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div
            class="task-item-manager">
            <h3 class="task-item-manager-h">Upload your task</h3>
            <app-file-uploader formControlName="uploader"></app-file-uploader>
            <button type="submit" class="btn-sumbit" mat-raised-button color="primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</cdk-accordion-item>
