<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" opened color="primary" class="sidenav">
    <div *ngIf="user" class="profile">
      <div class="profile-wrap">
        <div class="profile-photo">
          <mat-icon color="primary" class="mat-icon-rtl-mirror mat-icon">perm_identity</mat-icon>
        </div>
      </div>
      <div class="profile-name">
        <a routerLink="/user/profile/{{user.username}}">{{ user.username }}</a>
      </div>
    </div>

    <nav class="nav">
      <ng-container *ngIf="user; else anonymous">
        <ng-container *ngIf="user.role == 'STUDENT'; then student; else teacher"></ng-container>

        <ng-template #student>
          <mat-action-list class="list">
            <a
              mat-list-item
              class="list-item"
              routerLink="/student/course">
              <span>My courses</span>
            </a>
            <a
              mat-list-item
              class="list-item"
              routerLink="/student/"
              href="#">
              <span>Find course</span>
            </a>
            <a
              mat-list-item
              class="list-item"
              (click)="onOpenJoinCourseModal()">
              <span>Join course</span>
            </a>
          </mat-action-list>
        </ng-template>


        <ng-template #teacher>
          <mat-action-list class="list">
            <a
              mat-list-item
              class="list-item"
              href="#">
              <span>My courses</span>
            </a>
            <a
              mat-list-item
              class="list-item"
              href="#">
              <span>Create course</span>
            </a>
          </mat-action-list>
        </ng-template>
      </ng-container>


      <ng-template #anonymous>
        <mat-action-list class="list">
          <a
            mat-list-item
            class="list-item"
            routerLink="login">
            <span>Login</span>
          </a>
          <a
            mat-list-item
            class="list-item"
            routerLink="signup">
            <span>Signup</span>
          </a>
        </mat-action-list>
      </ng-template>

    </nav>
    <div *ngIf="user" class="btn-logout">
      <button mat-button (click)="onLogout()">Logout</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content" style="margin-left: 184px;">
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
