a {
  text-decoration: none;
}

.container {
  height: 100%;
}

.sidenav {
  padding: 18px 34px;

  .nav {
    margin-top: 40px;
  }

  .profile {
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      margin: 0 auto;
      aspect-ratio: 1;
      padding: 15px;
      background: rgb(235, 235, 235);
      border-radius: 100%;
      cursor: pointer;
    }
    &-photo {
      display: inline-flex;
    }
    &-name {
      padding-top: 12px;
      cursor: pointer;
      p {
        margin: 0;
        font-size: 16px;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  padding: 16px 0;

}

.mat-icon {
  font-size: 24px;
}

.list-item {
  margin-bottom: 12px;
  &:last-child {
    margin-top: 0;
  }
}

.btn-logout {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translate(-50%, -50%);
}
