<div class="wrapper">

  <div class="header-wrap">
    <div class="header-row">
      <div class="header-col">
        <h1>Course List</h1>
      </div>
    </div>
  </div>

  <div class="content">
    <ng-container *ngIf="courseList$ | async as courseList; else loading">
      <div class="course-list">
        <ng-container *ngFor="let course of courseList">
          <app-course-item [course]="course"></app-course-item>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="paginationData$ | async as paginationData">
      <div
        *ngIf="paginationData.count > 0"
        class="paginator">
        <mat-paginator
                [length]="paginationData.count"
                [pageSize]="paginationData.length"
                [pageSizeOptions]="getSuggestionsOfItemsPerPage(paginationData.count)"
                (page)="onPageChange($event)"
                aria-label="Select page">
        </mat-paginator>
      </div>
    </ng-container>

    <ng-template #loading>Loading...</ng-template>
  </div>

</div>
